<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>Young Funds Investment Recommender</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>

        <div id='root'>
            <app></app>
        </div>

        <!--Vue Component Definitions-->
        <script type="text/x-template" id="text-row-template">
            <div class='row'>
                <div class='col-sm'>
                    <component :is='tagName'>
                        <slot></slot>
                    </component>
                </div>
            </div>
        </script>

        <script type="text/x-template" id="app-template">
            <div class='container'>
                <textRow tagName='h1'>Investment Option Recommender</textRow>
                <result v-if='result.show' :product='result.product' @return='handleReturn'>
                </result>

                <survey v-else :products='products' @submit='handleSubmit'>
                </survey>
            </div>
        </script>

        <script type="text/x-template" id="result-template">
            <div>
                <textRow tagName='h2'>Your ideal investment product is: <b>{{ product.name }}</b></textRow>
                <textRow tagName='p'>{{ product.description }}</textRow>

                <button type='button' class='btn btn-primary btn-lg' @click.prevent='$emit("return")'>
                    Back to survey
                </button>
            </div>
        </script>

        <script type="text/x-template" id="survey-template">
            <div>
                <question
                    v-for='(question, i) in questions'
                    :question='question'
                    :key='i'
                    :isErrorVisible='isErrorVisible'
                    :answer.sync='scores[question.key]'
                >
                </question>

                <button type='button' class='btn btn-primary btn-lg' @click.prevent='submit'>
                    Submit
                </button>
            </div>
        </script>

        <script type='text/x-template' id='question-template'>
            <div>
                <textRow tagName='h4'>{{ question.text }}</textRow>
                <textRow tagName='small' class='text-danger' v-if='errorMessage'>{{ errorMessage }}</textRow>

                <form>
                    <div class='form-group'>
                        <choice
                            v-for='(choice, i) in question.choices'
                            :choice='choice'
                            :key='i'
                            :qkey='question.key'
                            :number='i'
                            :answer='answer'
                            @update:answer='updateAnswer($event)'
                        >
                        </choice>
                    </div>
                </form>
            </div>
        </script>

        <script type='text/x-template' id='choice-template'>
            <div class='form-check form-check-inline'>
                <input type='radio'
                    class='form-check-input'
                    :id='id'
                    :checked='answer === choice.value'
                    @input="updateAnswer()"
                >
                <label class='form-check-label' :for='id'>{{ choice.text }}</label>
            </div>
        </script>

        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src='app.js'></script>

    </body>
</html>
