<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>Young Funds Investment Recommender</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>

        <div id='root'>
            <app></app>
        </div>

        <!--Vue Component Definitions-->

        <!--textRow component: Specific type of text in its own row-->
        <script type="text/x-template" id="text-row-template">
            <div class='row'>
                <div class='col-sm'>
                    <component :is='tagName'>
                        <slot></slot>
                    </component>
                </div>
            </div>
        </script>

        <!--btButton component: Large bootstrap-style buttons-->
        <script type="text/x-template" id="bt-button-template">
            <div class>
                <button type='button' class='btn btn-primary btn-lg' @click.prevent='$emit("press")'>
                    <slot></slot>
                </button>
            </div>
        </script>

        <!--app component: Entry point that toggles between the survey and the result-->
        <script type="text/x-template" id="app-template">
            <div class='container py-4'>
                <textRow tagName='h1' class='text-center'>Investment Option Recommender</textRow>
                <br/>

                <result v-if='result.show' :product='result.product' @return='handleReturn'>
                </result>

                <survey v-else :products='products' @submit='handleSubmit'>
                </survey>
            </div>
        </script>

        <!--result component: Displays the investment product recommended by the survey-->
        <script type="text/x-template" id="result-template">
            <div>
                <textRow tagName='h3' class='text-center'>Your ideal investment product is:</textRow>
                <textRow tagName='h3' class='text-center'><b>{{ product.name }}</b></textRow>
                <br/>
                <textRow tagName='p'>{{ product.description }}</textRow>

                <br/>
                <btButton @press='$emit("return")'>Back to survey</btButton>
            </div>
        </script>

        <!--survey component: Displays the questions-->
        <script type="text/x-template" id="survey-template">
            <div>
                <question
                    v-for='(question, i) in questions'
                    :question='question'
                    :key='i'
                    :number='i'
                    :isErrorVisible='isErrorVisible'
                    :answer.sync='scores[question.key]'
                >
                </question>

                <br/>
                <btButton class='text-center' @press='submit'>Submit</btButton>
            </div>
        </script>

        <!--question component: Displays a question and its list of choices-->
        <script type='text/x-template' id='question-template'>
            <div>
                <textRow tagName='h4'>{{ questionText }}</textRow>
                <textRow tagName='small' class='text-danger mt-n2' v-if='errorMessage'>{{ errorMessage }}</textRow>

                <form>
                    <div class='form-group'>
                        <choice
                            v-for='(choice, i) in question.choices'
                            :choice='choice'
                            :key='i'
                            :qkey='question.key'
                            :number='i'
                            :answer='answer'
                            @update:answer='updateAnswer($event)'
                        >
                        </choice>
                    </div>
                </form>
            </div>
        </script>

        <!--choice component: Renders a choice as a radio input-->
        <script type='text/x-template' id='choice-template'>
            <div class='form-check'>
                <input type='radio'
                    class='form-check-input'
                    :id='id'
                    :checked='answer === choice.value'
                    @input="updateAnswer()"
                >
                <label class='form-check-label' :for='id'>{{ choice.text }}</label>
            </div>
        </script>

        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src='app.js'></script>

    </body>
</html>
