<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title></title>
    </head>
    <body>

        <div id='root'>
            <app></app>
        </div>

        <script type="text/x-template" id="app-template">
            <div>
                <h1>{{ title }}</h1>
                <survey :products='products' @submit='showResults'></survey>
            </div>
        </script>

        <script type="text/x-template" id="survey-template">
            <div>
                <question
                    v-for='(question, i) in questions'
                    :question='question'
                    :key='i'
                    :answer.sync='scores[question.key]'
                >
                </question>
                <br>
                <button @click.prevent='submit'>Submit</button>
            </div>
        </script>

        <script type='text/x-template' id='question-template'>
            <div >
                <h3>{{ question.text }}</h3>
                <choice
                    v-for='(choice, i) in question.choices'
                    :choice='choice'
                    :key='i'
                    :answer='answer'
                    @update:answer='updateAnswer($event)'
                >
                </choice>
                <br>
            </div>
        </script>

        <script type='text/x-template' id='choice-template'>
            <span>
                <input type='radio'
                    @input="updateAnswer()"
                    :checked='answer === choice.value'
                >
                <label>{{ choice.text }}</label>
            </span>
        </script>

        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src='app.js'></script>

    </body>
</html>
